<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="agrega-cuenta">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Obtener Clientes</h1>
        <button on-click="agregaCuenta" class="btn btn-success">Agrega Cuenta</button>
      </div>

    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class AgregaCuenta extends Polymer.Element {
      static get is() { return 'agrega-cuenta'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      agregaCuenta(){


    /*    Ejemplo POST desde Polymer cargarCliente(){
        var nombre = inputFristname.value
        var lastName= inputlastName.value
        alert(nombre)
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3002/altacliente", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente = {"idcliente":7777,"nombre":nombre,"apellido":lastName};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        //this.respuesta = request.responseText;
        //console.log(this.respuesta)
      }*/
       var idcliente = "00001";
       var cuenta= "9999999999";
       var fechaalta= "20/09/2017";
       var nuevacuenta = {"idcliente":idcliente,"cuenta":cuenta,"fechaalta":fechaalta};


        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/cuentas",true);
        //request.setRequestHeader("Accept", "application/json");
        //request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader('Content-type','application/json; charset=utf-8');


        var newcuenta = {};
        newcuenta.idcliente = "88888";
        newcuenta.cuenta = "1212121212";
        newcuenta.fechaalta = "20/09/2017";
        //var body = JSON.stringify(newcuenta);
        var body = JSON.stringify(nuevacuenta);



        //var newcuenta2 = JSON.parse(newcuenta);
        console.log("polymer newcuenta:"+nuevacuenta);
        console.log("polymer body:"+body);
        //var this.clientes = JSON.parse(request.responseText);
        request.send(body);


        //this.clientes = JSON.parse(request.responseText);
        //console.log(this.clientes);
      }
    }

    window.customElements.define(AgregaCuenta.is, AgregaCuenta);
  </script>
</dom-module>
