<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="modifica-cuenta">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Modifica Cuentas</h1>
        <button on-click="modificaCuenta" class="btn btn-success">Modifica Cuenta</button>
      </div>

    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModificaCuenta extends Polymer.Element {
      static get is() { return 'modifica-cuenta'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      modificaCuenta(){
        //********************
        var idcliente = "00001";
var cuenta= "9999999999";
var fechaalta= "20/09/2017";
var nuevacuenta = {"idcliente":idcliente,"cuenta":cuenta,"fechaalta":fechaalta};

var micliente="0001"
 var request = new XMLHttpRequest();
 var url = "http://localhost:3000/cuentas"
 //var consulta="$q={idcliente="+micliente+"}";
 var consulta="$filter=idcliente eq "+micliente;
 var peticion= url+consulta
console.log("peticion:"+peticion);
 request.open("PUT", peticion,true);
 //request.setRequestHeader("Accept", "application/json");
 //request.setRequestHeader("Content-Type", "application/json");
 request.setRequestHeader('Content-type','application/json; charset=utf-8');
 //request.param(idcliente="q1897987");
 //request.param();
 var valmodificar={$set:{"cuenta":"6666666666"}}

 var newcuenta = {};
 newcuenta.idcliente = "88888";
 newcuenta.cuenta = "1212121212";
 newcuenta.fechaalta = "20/09/2017";
 //var body = JSON.stringify(newcuenta);
 var body = JSON.stringify(valmodificar);



 //var newcuenta2 = JSON.parse(newcuenta);
 console.log("polymer put newcuenta:"+valmodificar);
 console.log("polymer put body:"+body);
 //var this.clientes = JSON.parse(request.responseText);
 request.send(body);


 //this.clientes = JSON.parse(request.responseText);
 //console.log(this.clientes);

        //*+++++++++++++++++

      }
    }

    window.customElements.define(ModificaCuenta.is, ModificaCuenta);
  </script>
</dom-module>
