<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<!--
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
-->

<dom-module id="agrega-cliente">
  <template>

    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
      .container{
        width: 100px;
        margin:50px;
        padding: 1px 200px;
      }
    </style>

    <div class="container">
      <div class="row">
          <form method="get" onsubmit="return validaCampos(AgregaCliente)"  >
              <fieldset>
                  <legend>Agregar Usuario</legend>
                    <div class="field">
                      <label for ="email">Email Address:</label><br/>
                      <input type="email" id="e_mail" required="required" value="" autofocus
                        onInput="validaCampos(AgregaCliente)"       />
                    </div>
                    <div class="field">
                      <label for ="alias">Alias:</label>  <br/>
                      <input type="text" id="mi_alias" required="required" value="" autofocus
                                    contentEditable="true" onInput="validaCampos(AgregaCliente)" />
                    </div>
                    <div class="field">
                      <label for ="first-name">Nombre:</label>  <br/>
                      <input type="text" id="mi_nombre" required="required" value="" autofocus
                        onInput="validaCampos(AgregaCliente)"           />
                    </div>
                    <div class="field">
                      <label for ="last-name">Last Name:</label><br/>
                      <input type="text" id="last_name" required="required" value="" autofocus
                          onInput="validaCampos(AgregaCliente)"          />
                    </div>
                    <div class="field">
                      <label for ="password">Choose a password:</label><br/>
                      <input type="password" id="mi_password" required="required"
                            pattern="[A-Za-z0-9]{5,}" title="At less 5 letters and numbers" value="" autofocus
                          onInput="validaCampos(AgregaCliente)"    />
                    </div>
                    <div class="field">
                      <label for ="ConPassword">Confirm your Password:</label><br/>
                      <input type="password" id="mi_conpassword" required= "required"
                            pattern="[A-Za-z0-9]{5,}" title="At less 5 letters and numbers" value="" autofocus
                          onInput="validaCampos(AgregaCliente)"    />
                    </div>
                    <div >
                      <p> <button on-click="fagregaCliente" class="btn btn-success" disabled="False">Alta Usuario</button></p>
                      <p> <button on-click="clickSalir" class="btn btn-success" >Salir</button> </p>
                    </div>
              </fieldset>
          </form>
      </div>
    </div>
  </template>
  <script>
    var ConsultaEstatus=false;
    var mihost="http://localhost:2018/";
    /**
     * @customElement
     * @polymer
     */
    class AgregaCliente extends Polymer.Element {
      static get is() { return 'agrega-cliente'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }


//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

 consultaUsuario(){
//   alert("colsulta usuario");
  var objpoly =[];
  var micorreo = document.forms[0][1].value;
  var mialias = document.forms[0][2].value;
  var request = new XMLHttpRequest();
  //var miurlalias = "http://localhost:3000/clientes/"+mialias;
  var miurlalias = mihost+"clientes/"+mialias;
  //var miurlemail = "http://localhost:3000/clientes/email/"+micorreo;
  var miurlemail = mihost+"clientes/email/"+micorreo;
  var i=1;
  ConsultaEstatus=true;
//  alert("true");
  do {
      if (i==1){
        var miurl=miurlemail;
      }
      else{//consulta por alias{
        var miurl=miurlalias;
      }
//      alert("ves:"+i);
      request.open("GET", miurl,false);
//      console.log("antes send");
      request.send();
//      console.log("despues send");
//      console.log(request.responseText);
//      alert("respuesta:"+request.status);
      if( request.status !=  200  )  {
    //    alert("falso");
        alert(  "Error  :"  + request.status +  "  -"  + request.statusText );
        localStorage["errormio"]="Error  :"  + request.status +  "  -"  + request.statusText ;

      }else{
        objpoly = JSON.parse(request.responseText);
        if( objpoly.length>0){
  /*        console.log(objpoly);
          console.log(objpoly[0].cli_idcliente);
          console.log(document.forms[0][2].value);
          console.log(objpoly[0].cli_idcliente==document.forms[0][2].value);
          console.log(objpoly[0].cli_email);
          console.log(document.forms[0][1].value);
          console.log(objpoly[0].cli_email==document.forms[0][1].value);*/
          if  (objpoly[0].cli_idcliente==document.forms[0][2].value ||
               objpoly[0].cli_email==document.forms[0][1].value){
    //             alert("falso");
                 ConsultaEstatus= false;
               }
        }


      }
      i++;
  } while (i<3);
//  alert("termino do while");

}
//++++++++++++++++++++++++++++++++++++++++++++++++++++++
  clickSalir(){
    this.dispatchEvent(new CustomEvent('salio-agregausu', {
                       detail: {
                           valor: 'Soy el padre'
                       },
                       bubbles: true,
                       composed: true
                     }));
  }
//-++++++++++++++++++++++++++++++++++++++++++++++++++
      fagregaCliente(){
        this.consultaUsuario();
        if (ConsultaEstatus==false){
          alert("Alias o Email ya EXISTEN!");
          //ndeturn ;
        }
        else{
          /*  console.log("agrega cliente document:");
          console.log(document.forms[0][1].value); //correo
          console.log(document.forms[0][2].value); //alias
          console.log(document.forms[0][3].value); //nombre
          console.log(document.forms[0][4].value); //apellido
          console.log(document.forms[0][5].value); //password
          console.log(document.forms[0][6].value); //conpassword
          */


          var newcliente = {};
          var mifecha = new Date();
          newcliente.cli_email= document.forms[0][1].value;
          newcliente.cli_idcliente= document.forms[0][2].value;
          newcliente.cli_nombre= document.forms[0][3].value;
          newcliente.cli_apellido= document.forms[0][4].value;
          newcliente.cli_password= document.forms[0][5].value;
          newcliente.cli_fechaalta= mifecha.getDate() + "/" + (mifecha.getMonth() +1) + "/" + mifecha.getFullYear();
          newcliente.cli_estatus= "A";
          newcliente.cli_perfil= "C";
      //    alert("AQUI");

          var body = JSON.stringify(newcliente);

          var request = new XMLHttpRequest();

          //request.open("POST", "http://localhost:3000/clientes",false);
          var miur1 = mihost+"clientes";
          request.open("POST", miur1,false);
          request.setRequestHeader('Content-type','application/json; charset=utf-8');

        //  console.log(body);
        //  console.log("antes");
      //    alert("antes");

          request.send(body);
        //  alert("DESPUES");
      //    console.log("despues");

          if (request.status == 200){
              alert("Alta de usuario EXITOSA");
            }else{
              alert("Error a dar de alta el usuario");
            }
        }
      }
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    }
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++





    function validaCampos(){

      var habilita=false;
      if ((document.forms[0][1].value.length>0 &&
          document.forms[0][2].value.length>0 &&
          document.forms[0][3].value.length>0 &&
          document.forms[0][4].value.length>0 &&
          document.forms[0][5].value.length>0 &&
          document.forms[0][6].value.length>0 )&&
          (document.forms[0][5].value === document.forms[0][6].value ))
          {
             habilita=true;
          }

      if( habilita==true ){
        //alert("hanilita");
        document.forms[0][7].disabled=false;
      }else {
        //alert("deshanilita");
        document.forms[0][7].disabled=true;
      }

    }



    window.customElements.define(AgregaCliente.is, AgregaCliente);
  </script>
</dom-module>
