<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-boton">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es [[prop2]]!</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyBoton extends Polymer.Element {
      static get is() { return 'my-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'my boton'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
    }

    window.customElements.define(MyBoton.is, MyBoton);
  </script>
</dom-module>
