<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
-->

<dom-module id="datos-usuario">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
      .centrado{
	       text-align: left;
       }
       .centrado>div {
         display:table;
         align:center;
       }
       .centrado>input {
         align:left;
       }
       .detalle {
	        height: 300px;
	         width: 400px;
	          border: 5px solid #C00;
	           margin: 20px;
	            padding: 20px;

        }

        .imlabel{
          border: 0;
          background-color:#81BEF7;
          font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	        font-size: 20px;
        }


    </style>
    <div class="container">

<!--      <div class="row">
        <table class="col-lg-12">
          <tbody  >
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.cta_idcuenta]]
                </td>
                <td>
                  [[item.cta_saldo]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    -->
    <div class="row">
    <div/>
    <div class="centrado">

<!--
        <label > <input type="text" id="Name" name="Name" value="{{usuario}}" /> </label>

<button on-click="consultaDatosUsu"  class="btn btn-success" >REFRESCAR CUENTAS</button> <br />
-->
        <div>



            <br />
            <fieldset>


              <input class="imlabel" disabled =true type="text" id="nombreusu" name="Name" value="{{nombreusu}}"  style="text-align:left" font-family = Arial/>
              <input class="imlabel" disabled=true  type="text" id="aliasusu" name="Name" value="{{aliasusu}}"  style="text-align:left"/>
              <input class="imlabel" disabled=true  type="text" id="fechaaltausu" name="Name" value="{{fechaaltausu}}" autocomplete="transaction-amount"  style="text-align:left" />
              <input class="imlabel" disabled=true  type="text" id="correousu" name="Name" value="{{correousu}}"  style="text-align:left" />
              <input class="imlabel" disabled=true  type="text" id="tiempo" name="Name" value="{{tiempo}}"  style="text-align:left" />
              <input class="imlabel" disabled=true  type="text" id="tipocambio" name="Name" value="{{tipocambio}}"  style="text-align:left" />

            </fieldset>

            <button  id="btssalir" on-click="salir" class="btn btn-success" disabled="true">Salir</button>


        </div>
      </div>
      <div>
      </div>

    </div>

  </template>
  <div id="containertime">
  </div>
  <script>
    var cont=1;
    var mitiempofirma=0
    var minombre="";
    var mialias="";
    var mifechaalta="";
    var micorreo="";
    var mitipocambio="";
    var firmado=false;
    var bandera=true;
    var objpoly1 = new Array();
    var mihost="http://localhost:2018/";
    /**
     * @customElement
     * @polymer
     */
    class DatosUsuario extends Polymer.Element {
      static get is() {
        return 'datos-usuario';
      }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          nombreusu:{
            type: String
          },
          aliasusu:{
            type: String
          },
          fechaaltausu:{
            type: String
          },
          correousu:{
            type: String
          },
          tiempo:{
            type: String
          },
          tipocambio:{
            type: String
          }
        };
      }
      ready() {
        super.ready();
      //        console.log(this);
      this.addEventListener('click', () => {
    //    console.log('yeahhh este evento se asocia al componente completo datos usuario');
      })
      document.addEventListener('usuario-firmado', () => {

          consultaDatosUsu11();
          this.nombreusu= minombre;
          this.aliasusu= mialias ;
          this.fechaaltausu=mifechaalta ;
          this.correousu=micorreo;
          consultaTipoCambio();
          this.tipocambio="MXP & USD:"+mitipocambio;
          firmado=true;
        })

      }


salir(){
  if (confirm("Esta seguro de crear Salir de la aplicación?")==true) {
      alert("Hasa Luego!");
      //actualizaUsuario(0);
      location.reload();
  }
}



      //+++++++++++++++++++


    }
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  function consultaTipoCambio(){
    //alert("consulta");
    //+document.forms[0][1].value
    //console.log('consulta cuentas');
    //console.log(document);
    var miusuario=sessionStorage.getItem("user");
    var miurl = "http://www.apilayer.net/api/live?access_key=2587a54aa895223b4865a4bbf3e99b6f&format=1";



    //consulta por email
    //var miurl=miurlemail+document.forms.ventanaUsuario[1].value;
//    console.log(miurl);
    //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
    var request = new XMLHttpRequest();
    request.open("GET", miurl,false);
    //request.setRequestHeader("Accept", "application/json");
    request.send();
    if( request.status !=  200  )  {
          alert(  "Error  :"  + request.status +  "  -"  + request.statusText );
        //  console.log(  "Error  :"  + request.status +  "  -"  + request.statusText );
//            localStorage["errormio"]="Error  :"  + request.status +  "  -"  + request.statusText ;

    }else{
        //console.log(request.responseText);
        var objpoly3 = JSON.parse(request.responseText);
        //console.log(objpoly3);
        //console.log(objpoly3.quotes);
        //console.log(objpoly3.quotes.USDMXN);
        mitipocambio=objpoly3.quotes.USDMXN;
  //      console.log(objpoly1);

    }

  }
  //+++++++++++++++++++++++++++++++++++++++++++++++++++++++
  //}++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  function consultaDatosUsu11(){
    //alert("consulta");
    //+document.forms[0][1].value
    //console.log('consulta cuentas');
    //console.log(document);
    var miusuario=sessionStorage.getItem("user");
    //var miurl = "http://localhost:3000/clientes/"+miusuario;
    var miurl = mihost+"clientes/"+miusuario;



    //consulta por email
    //var miurl=miurlemail+document.forms.ventanaUsuario[1].value;
//    console.log(miurl);
    //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
    var request = new XMLHttpRequest();
    request.open("GET", miurl,false);
    //request.setRequestHeader("Accept", "application/json");
    request.send();
    if( request.status !=  200  )  {
          alert(  "Error  :"  + request.status +  "  -"  + request.statusText );
        //  console.log(  "Error  :"  + request.status +  "  -"  + request.statusText );
//            localStorage["errormio"]="Error  :"  + request.status +  "  -"  + request.statusText ;

    }else{
        objpoly1 = JSON.parse(request.responseText);
  //      console.log(objpoly1);
        minombre =   "USUARIO   :"+objpoly1[0].cli_nombre;
        mialias =    "ALIAS     :"+objpoly1[0].cli_idcliente;
        mifechaalta ="FECHA ALTA:"+objpoly1[0].cli_fechaalta;
        micorreo =   "EMAIL     :"+objpoly1[0].cli_email;
        mitiempofirma=objpoly1[0].cli_minutos;
        var ddd= document.getElementById("mioDU0");
        ddd.$.btssalir.disabled=false;

    }

  }
//+++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++



  //Cada 1 segundo se crea un nuevo elemento
	setInterval(function(){

    if (firmado ==true){
      var mifecha1 = new Date();
      var misminutos=(mifecha1.getMinutes())+(mifecha1.getHours()*60)+(mifecha1.getDate()*1440)+
                  ((mifecha1.getMonth()+1)*43200) + ((mifecha1.getFullYear())*518400);
//      console.log("misminutos:"+misminutos);
  //    console.log("mitiempofirma:"+mitiempofirma);
      if ((misminutos-mitiempofirma)>=5) {
        alert("El tiempo de la sesion ha expirado!");
        alert("Hasa Luego!");
        location.reload();

        //  actualizaUsuario(misminutos)

      }
    }

    },1000);



    window.customElements.define(DatosUsuario.is, DatosUsuario);
  </script>

</dom-module>
