<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

      <h2> hello [[prop1]]</h2>
      <h2> hello [[prop2]]</h2>


      <div class="container">
          <div class="row">
              <img src="https://image.flaticon.com/icons/svg/265/265667.svg" class="col-lg-3 col-xs-12" alt="">
              <button class="btn btn-danger col-lg-4 col-xs-12" name="button" on-click="incrementar">Carga datos</button>
              <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}"/>
              <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                </thead>
                <tbody>
                  <tr>
                    <td>[[prop2]] </td>
                    <td>[[prop1]]</td>
                    <td>Cruz</td>
                  </tr>
                  <tr>
                    <td>2 </td>
                    <td>Maria</td>
                    <td>Valencia</td>
                  </tr>
                </tbody>
              </table>


            </div>
      </div>





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyVisor extends Polymer.Element {
      static get is() { return 'my-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indique su login'
          }
        };
      }
      incrementar(){
        this.prop2= this.prop2+1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MyVisor.is, MyVisor);
  </script>
</dom-module>
