<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
-->

<dom-module id="consulta-movimientos">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
      .container{
         display:inline-block;

      }
      .centrado{
	       text-align: center;
         display: inline-block;
       }
       .centrado>div {
         display:inline-block;
         align:right;
       }
       .detalle {
	        height: 300px;
	         width: 400px;
	          border: 5px solid #C00;
	           margin: 20px;
	            padding: 20px;

        }
        .columna{
          text-align: right;
          align ; right: ;
        }
        .row{
          float: right;
        }

    </style>
    <div class="container">
    <div class="centrado">
        <h1  class="col-lg-12" aling="center">Movimientos de Cuenta</h1>
<!--
        <label > <input type="text" id="Name" name="Name" value="{{usuario}}" /> </label>
            <button on-click="consultaCtasVU"  class="btn btn-success" >REFRESCAR CUENTAS</button> <br />
-->
        <div>
            <label >Mis cuentas</label>
            <select id="selectOp" name="miscuentas" on-change="consultaDetalleCta">
                    <option>Seleccion una cuenta</option>
                    <template is="dom-repeat" items="{{clientes}}">
                      <option>[[item.cta_idcuenta]]</option>
                    </template>
            </select>
            <label >Importe
            <input disabled=true  type="number" id="miimpmov" value="0" min="0" max"999999999"
                    pattern="[0-9]" title="El campo debe ser númerico" style="text-align:right" />
            </label>
            <button id="btsuma" on-click="deposita" class="btn btn-success" >Depositos</button>
            <button id="btresta" on-click="retira" class="btn btn-success" >Retiros</button>
        </div>
        <div>
              <br />
              <label >Saldo </label>
              <input disabled=true  type="text" id="ctasaldo" name="Name" value="{{ctasaldo}}" autocomplete="transaction-amount"  style="text-align:right" />

        </div>
        <div class="row" >
            <table class="table table-striped">
            <thead>
              <th>Num. Movimientos</th>
              <th>Fecha Mov.</th>
              <th>Importe</th>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{movimientos}}">
                <tr><td id="columna"  style="text-align:right">[[item.mov_foliomov]]</td >
                    <td id="columna"  style="text-align:right">[[item.mov_fechamov]]</td>
                    <td id="columna"  style="text-align:right">[[item.mov_importemov]]</td>
                </tr>
              </template>
            </tbody>
            </table>
        </div>


      </div>
    </div>
  </template>
  <script>
    var minombre="";
    var miobjarray = new Array();
    var mihost="http://localhost:2018/";
    /**
     * @customElement
     * @polymer
     */
    class ConsultaMovimientos extends Polymer.Element {
      static get is() {
        return 'consulta-movimientos';
      }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },

          movimientos: {
            type: Array,
            notify: true
          },
          usuario:{
            type: String
          },
          ctasel:{
            type: String
          },
          ctafechalta:{
            type: String
          },
          ctasaldo:{
            type: String
          },
          ctastatus:{
            type: String
          },
          ctadivisa:{
            type: String
          }
        };
      }
      ready() {
        super.ready();
      //        console.log(this);
        this.addEventListener('click', () => {
    //      console.log('click consulta movimientos');
        })
        this.addEventListener('custom-element-loaded', () => {
      //    console.log('elemento atachado');
        })
        this.addEventListener('usuario-entro',function(datos){
          alert("Bienvenido VU");

        });
        document.addEventListener('usuario-firmado', () => {
            consultaCtasCM();

            this.clientes=miobjarray;
      //      alert("consulto");

          })
      }
    //+++++++++++++++++++++++++++++++++++++++++++++
      deposita(){
        this.realizaMovimiento("D");
      //  alert("deposita");
        consultaCtasCM();
        this.clientes=miobjarray;

        this.consultaDetalleCta();
      }
    //+++++++++++++++++++++++++++++++++++++++++++
      retira(){
        this.realizaMovimiento("R");
        consultaCtasCM();
        this.clientes=miobjarray;
        this.consultaDetalleCta();
      //  alert("retira");
      }
    //+++++++++++++++++++++++++++++++++++++++++++++
      consultaDetalleCta(){
        var gasPrice = new Intl.NumberFormat("en-US",
                        { style: "currency", currency: "USD",
                          minimumFractionDigits: 2 });


        var ddd= document.getElementById("mioCM0");

          ddd.$.miimpmov.value="0";


        //var miurl = "http://localhost:3000/movimientos/cuenta/"+ddd.$.selectOp.value;
        var miurl = mihost+"movimientos/cuenta/"+ddd.$.selectOp.value;


        var request = new XMLHttpRequest();
        request.open("GET", miurl,false);
        //request.setRequestHeader("Accept", "application/json");
        request.send();
        if( request.status !=  200  )  {
              alert(  "Error  :"  + request.status +  "  -"  + request.statusText );
            //  console.log(  "Error  :"  + request.status +  "  -"  + request.statusText );
        //            localStorage["errormio"]="Error  :"  + request.status +  "  -"  + request.statusText ;
          ddd.$.btsuma.disabled=true;
          ddd.$.btresta.disabled=true;
          ddd.$.miimpmov.disabled=true;
        //  alert("nooo");

        }else{

          this.movimientos  = JSON.parse(request.responseText);
          ddd.$.btsuma.disabled=true;
          ddd.$.btresta.disabled=true;
          ddd.$.miimpmov.disabled=true;

          for (var i=0;i<this.clientes.length;i++){
            if (ddd.$.selectOp.value==this.clientes[i].cta_idcuenta){
                  if (this.clientes[i].cta_estatus=='A'){
                    ddd.$.btsuma.disabled=false;
                    ddd.$.btresta.disabled=false;
                    ddd.$.miimpmov.disabled=false;
                  }
                  else{
                    alert("CUENTA BLOQUEADA");
                    //ddd.$.btsuma.disabled=true;
                    //ddd.$.btresta.disabled=true;
                    //ddd.$.miimpmov.disabled=true;
                  }
                  this.ctasaldo=gasPrice.format(this.clientes[i].cta_saldo);
            }
          }


        }
      }

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
realizaMovimiento(opcion){
        var gasPrice = new Intl.NumberFormat("en-US",
                        { style: "currency", currency: "USD",
                          minimumFractionDigits: 2 });


        var ddd= document.getElementById("mioCM0");

        if (isNaN(ddd.$.miimpmov.value)) {
          alert("El campo importe debe ser numerico");
          return;
        }
        if (ddd.$.miimpmov.value==0) {
          alert("El campo importe debe ser mayor a cero");
          return;
        }

        var impnum=parseInt(ddd.$.miimpmov.value);
        ddd.$.miimpmov.value=""+ impnum
      //  ddd.$.miimpmov.value=gasPrice.format(ddd.$.miimpmov.value);
        //var miurl = "http://localhost:3000/movimientos/";
        var miurl = mihost+"movimientos/";


        var newMov = {};
        var mifecha = new Date();
        var misaldo=0;
        var mimov=0;
        for (var i=0;i<this.clientes.length;i++){
          if (ddd.$.selectOp.value==this.clientes[i].cta_idcuenta){
            var misaldo=parseInt(this.clientes[i].cta_saldo);
            var mimov=this.clientes[i].cta_nummov;
          }
        }

        newMov.mov_idcuenta= ddd.$.selectOp.value;
        newMov.mov_foliomov= mimov;
        newMov.mov_fechamov= mifecha.getDate() + "/" + (mifecha.getMonth() +1) + "/" + mifecha.getFullYear();
        if (opcion =="D"){
            newMov.mov_importemov= ddd.$.miimpmov.value;
            //console.log("misaldo:"+misaldo);
            //console.log("newMov.mov_importemov:"+newMov.mov_importemov);
            misaldo=misaldo+parseInt(newMov.mov_importemov);

        }else{
          if ((parseInt(ddd.$.miimpmov.value)>misaldo)||
             (ddd.$.miimpmov.value>misaldo)){
            alert("Saldo Insuficiente");
            return;
          }
            newMov.mov_importemov=( ddd.$.miimpmov.value)*-1;
            misaldo=misaldo+newMov.mov_importemov;
        }

      //  console.log(newMov.mov_importemov);

        var body = JSON.stringify(newMov);

        var request = new XMLHttpRequest();
        //request.open("POST", "http://localhost:3000/clientes",true);
        //request.setRequestHeader('Content-type','application/json; charset=utf-8');

        request.open("POST", miurl,false);
        request.setRequestHeader('Content-type','application/json; charset=utf-8');

        request.send(body);
        if (request.status == 200){
            alert("Movimiento Efectuado");

            this.actualizaCuenta(misaldo,mimov);

        }else{
          alert("Error al dar de alta el Movimiento");
        }

      }
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
actualizaCuenta(misaldo,mimov){
        //alert("actualiza datos cta");
        var miusuario=sessionStorage.getItem("user");
        var requestPUT = new XMLHttpRequest();
        var ddd= document.getElementById("mioCM0");

        //var miurlcuentas = "http://localhost:3000/cuentas/"+ddd.$.selectOp.value+"&"+miusuario;
        var miurlcuentas = mihost+"cuentas/"+ddd.$.selectOp.value+"&"+miusuario;
        requestPUT.open("PUT", miurlcuentas,false);
        requestPUT.setRequestHeader('Content-type','application/json; charset=utf-8');

        var newcuenta = {};
        mimov++;


        for (var i=0;i<this.clientes.length;i++){
          if (ddd.$.selectOp.value==this.clientes[i].cta_idcuenta){
            newcuenta.cta_idcliente=this.clientes[i].cta_idcliente;
            newcuenta.cta_idcuenta=this.clientes[i].cta_idcuenta
            newcuenta.cta_fechaalta=this.clientes[i].cta_fechaalta;
            newcuenta.cta_estatus=this.clientes[i].cta_estatus;
            newcuenta.cta_saldo=misaldo;
            newcuenta.cta_divisa=this.clientes[i].cta_divisa;
            newcuenta.cta_nummov=mimov;
          }
        }

        var body = JSON.stringify(newcuenta);
  //console.log(newcuenta);
        requestPUT.send(body);
  //alert("despues send actualiza");
        var resp =JSON.parse(requestPUT.responseText);

  //      console.log(resp);

      }



//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


//*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

function consultaCtasCM(){
  var miusuario=sessionStorage.getItem("user");
  //var miurl = "http://localhost:3000/cuentas/cliente/"+miusuario;
  var miurl = mihost+"cuentas/cliente/"+miusuario;
  //console.log(miurl);
  var ddd= document.getElementById("mioCM0");

  ddd.$.btsuma.disabled=true;
  ddd.$.btresta.disabled=true;
  ddd.$.miimpmov.disabled=true;

  var request = new XMLHttpRequest();
  request.open("GET", miurl,false);
  request.send();
  if( request.status !=  200  )  {
      alert(  "Error  :"  + request.status +  "  -"  + request.statusText );
  }else{

    miobjarray  = JSON.parse(request.responseText);
  }

}
//++++++++++++++++++++++++++++++++++++++++++++

    window.customElements.define(ConsultaMovimientos.is, ConsultaMovimientos);
  </script>

</dom-module>
