<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
-->

<dom-module id="ventana-usuario">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
      .centrado{
	       text-align: center;
         display: inline-block;
       }
       .centrado>div {
         display:inline-block;
         align:right;
       }
       .detalle {
	        height: 300px;
	         width: 400px;
	          border: 5px solid #C00;
	           margin: 20px;
	            padding: 20px;

        }
        .row{
          float: right;
        }

    </style>
    <div class="container">
    <div class="centrado">
        <h1  class="col-lg-12" aling="center">Consulta de Cuentas</h1>
<!--
        <label > <input type="text" id="Name" name="Name" value="{{usuario}}" /> </label>
            <button on-click="consultaCtasVU"  class="btn btn-success" >REFRESCAR CUENTAS</button> <br />
-->
            <label >Mis cuentas</label>
            <select id="selectOp" name="miscuentas" on-change="consultaDetalleCta">
                    <option>Seleccion una cuenta</option>
                    <template is="dom-repeat" items="{{clientes}}">
                      <option>[[item.cta_idcuenta]]</option>
                    </template>
            </select>
           <button id="btnewcta" on-click="creactanueva" class="btn btn-success" >Cuenta Nueva</button>
            <button id="btblqcta" on-click="bloqueaCuenta" class="btn btn-success" disabled=true>Bloqueo/Activación de Cuenta</button>
        <div class="row" >
            <br />
            <fieldset>
            <legend>Detalle de la cuenta</legend>
            <div  float: right>
              <label >Cuenta </label>
              <input disabled =true type="text" id="ctasel" name="Name" value="{{ctasel}}"  style="text-align:right" />
              <label >Fecha de alta </label>
              <input disabled=true  type="text" id="ctafechalta" name="Name" value="{{ctafechalta}}"  style="text-align:right"/>
              <label >Saldo </label>
              <input disabled=true  type="text" id="ctasaldo" name="Name" value="{{ctasaldo}}" autocomplete="transaction-amount"  style="text-align:right" />
            </div>
            <div  float: right>
              <label >Estatus </label>
              <input disabled=true  type="text" id="ctastatus" name="Name" value="{{ctastatus}}"  style="text-align:right" />
              <label >Divisa  </label>
              <input disabled=true  type="text" id="ctadivisa" name="Name" value="{{ctadivisa}}"  style="text-align:right" />
            </div>
            </fieldset>
        </div>
      </div>
    </div>
  </template>
  <script>
    var minombre="";
    var miobjarray = new Array();
    var mihost="http://localhost:2018/";
    /**
     * @customElement
     * @polymer
     */
    class VentanaUsuario extends Polymer.Element {
      static get is() {
        return 'ventana-usuario';
      }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          usuario:{
            type: String
          },
          ctasel:{
            type: String
          },
          ctafechalta:{
            type: String
          },
          ctasaldo:{
            type: String
          },
          ctastatus:{
            type: String
          },
          ctadivisa:{
            type: String
          }
        };
      }
      ready() {
        super.ready();
      //        console.log(this);
    /*    this.addEventListener('click', () => {
  //        console.log('click ventana usuario');
        })
        this.addEventListener('custom-element-loaded', () => {
          console.log('elemento atachado');
        })
        this.addEventListener('usuario-entro',function(datos){
          alert("Bienvenido VU");

        });*/
        document.addEventListener('usuario-firmado', () => {
            consultaCtasVU();
            this.clientes=miobjarray;
        //    alert("consulto");

          })
      }
//+++++++++++++++++++++++++++++++++++++
      creactanueva(){
        if (confirm("Esta seguro de crear una cuenta Nueva?")==false) {
            //alert("You pressed Cancel!");
            return;
        }

        //+document.forms[0][1].value
        //console.log('consulta cuentas');
        //console.log(document);
        var miusuario=sessionStorage.getItem("user");

        //var miurl = "http://localhost:3000/cuentass/foliador";
        var miurl = mihost+"cuentass/foliador";
        //consulta por email
        //var miurl=miurlemail+document.forms.ventanaUsuario[1].value;
        //console.log(miurl);
        //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        var request = new XMLHttpRequest();
        request.open("GET", miurl,false);
        //request.setRequestHeader("Accept", "application/json");
        request.send();
        if( request.status !=  200  )  {
              alert(  "Error  :"  + request.status +  "  -"  + request.statusText );
        }else{
            var miobjarray1  = JSON.parse(request.responseText);
        //    console.log(miobjarray1[0].foliador+1);
            var micuentan="12554"+zfill(miobjarray1[0].foliador+1,5);
        //    console.log(micuentan);
            this.grabacuenta(micuentan);
            this.actualizafoliador(miobjarray1[0].foliador+1);
            consultaCtasVU();
            this.clientes=miobjarray;
        }

      }
//+++++++++++++++++++++++++++++++++++++++++++++
actualizafoliador(mifolio){
  var miusuario=sessionStorage.getItem("user");
  var requestPUT = new XMLHttpRequest();
  var ddd= document.getElementById("mioCM0");


  //var miurlcuentas = "http://localhost:3000/cuentassact/foliador";
  var miurlcuentas = mihost+"cuentassact/foliador";
  requestPUT.open("PUT", miurlcuentas,false);
  requestPUT.setRequestHeader('Content-type','application/json; charset=utf-8');

  var newcuenta = {};
  var mifecha = new Date();


      newcuenta.cta_idcuenta="FOLIADORCTA";
      newcuenta.foliador=mifolio;
      newcuenta.foliador2=0;


  var body = JSON.stringify(newcuenta);
  requestPUT.send(body);

  if( requestPUT.status !=  200  )  {
        alert(  "Error  :"  + requestPUT.status +  "  -"  + requestPUT.statusText );
  }else{

      var miobjarray2  = JSON.parse(requestPUT.responseText);
//      console.log("ACTUALZO FOLIADOR");
  //    console.log (requestPUT.responseText);
    //  console.log (miobjarray2);
      //alert("Su nueva cuenta es:"+miobjarray.cta_idcuenta);
  }
}
//+++++++++++++++++++++++++++++++++++++++++++++
bloqueaCuenta(){
        if (confirm("Esta seguro de cambiar el estatus de la cuenta?")==false) {
          //alert("You pressed Cancel!");
          return;
        }
        //alert("actualiza datos cta");
        var miusuario=sessionStorage.getItem("user");
        var requestPUTbu = new XMLHttpRequest();

        var ddd= document.getElementById("mioVU0");

        //var miurlcuentas = "http://localhost:3000/cuentas/"+ddd.$.selectOp.value+"&"+miusuario;
        var miurlcuentas = mihost+"cuentas/"+ddd.$.selectOp.value+"&"+miusuario;
        requestPUTbu.open("PUT", miurlcuentas,false);
        requestPUTbu.setRequestHeader('Content-type','application/json; charset=utf-8');

        var newcuenta = {};


        for (var i=0;i<this.clientes.length;i++){
          if (ddd.$.selectOp.value==this.clientes[i].cta_idcuenta){
            newcuenta.cta_idcliente=this.clientes[i].cta_idcliente;
            newcuenta.cta_idcuenta=this.clientes[i].cta_idcuenta
            newcuenta.cta_fechaalta=this.clientes[i].cta_fechaalta;
            if (this.clientes[i].cta_estatus=="B") newcuenta.cta_estatus="A";
            else  newcuenta.cta_estatus="B";
            newcuenta.cta_saldo=this.clientes[i].cta_saldo;
            newcuenta.cta_divisa=this.clientes[i].cta_divisa;
            newcuenta.cta_nummov=this.clientes[i].cta_nummov;

          }
        }

        var body = JSON.stringify(newcuenta);
  //console.log(newcuenta);
        requestPUTbu.send(body);
  //alert("despues send actualiza");
        var resp =JSON.parse(requestPUTbu.responseText);

        if( requestPUTbu.status !=  200  )  {
              alert(  "Error  :"  + requestPUTbu.status +  "  -"  + requestPUTbu.statusText );
        }else{
          consultaCtasVU();
          this.clientes=  miobjarray ;
          this.consultaDetalleCta();

      /*      if (this.clientes[i].cta_estatus=="B") alert("La Cuenta ha sido Bloqueada");
            else alert("La Cuenta ha sido Activada");
*/
        }

      }



//+++++++++++++++++++++++++++++++++++++++++++++
      grabacuenta(micuentan){
        var miusuario=sessionStorage.getItem("user");
        var requestPost = new XMLHttpRequest();
        var ddd= document.getElementById("mioCM0");

//        var miurlcuentas = "http://localhost:3000/cuentas";
        var miurlcuentas = mihost+"cuentas";
        requestPost.open("POST", miurlcuentas,false);
        requestPost.setRequestHeader('Content-type','application/json; charset=utf-8');

        var newcuenta = {};
        var mifecha = new Date();

            newcuenta.cta_idcliente=miusuario;
            newcuenta.cta_idcuenta=micuentan;
            newcuenta.cta_fechaalta=mifecha.getDate() + "/" + (mifecha.getMonth() +1) + "/" + mifecha.getFullYear();
            newcuenta.cta_estatus="A";
            newcuenta.cta_saldo=0;
            newcuenta.cta_divisa="MXP";
            newcuenta.cta_nummov=1;


        var body = JSON.stringify(newcuenta);
        requestPost.send(body);

        if( requestPost.status !=  200  )  {
              alert(  "Error  :"  + requestPost.status +  "  -"  + requestPost.statusText );
        }else{

            miobjarray = JSON.parse(requestPost.responseText);
    //        console.log("consulta");
      //      console.log (requestPost.responseText);
        //    console.log (miobjarray);
            alert("Su nueva cuenta es:"+miobjarray.cta_idcuenta);
        }
      }
//++++++++++++++++++++++++++++++++++++++++++
      consultaDetalleCta(){
  //      alert("coinsulta detalles");
        var gasPrice = new Intl.NumberFormat("en-US",
                        { style: "currency", currency: "USD",
                          minimumFractionDigits: 2 });

//console.log(gasPrice.format(5.259)); // $5.259
        var ddd= document.getElementById("mioVU0");


//        console.log(ddd.$);
  //      console.log(ddd.$.selectOp.value);
  //      console.log(ddd.$.selectOp.selected);
    //    console.log(ddd.$.selectOp[1]);
      //  console.log(this);
    //    console.log(this.clientes);
        var i=0;
        for (i=0;i<this.clientes.length;i++){
          if (ddd.$.selectOp.value==this.clientes[i].cta_idcuenta){
        //    alert("igual");
            this.ctasel=this.clientes[i].cta_idcuenta;
            this.ctafechalta=this.clientes[i].cta_fechaalta;
            this.ctasaldo=gasPrice.format(this.clientes[i].cta_saldo);
            if (this.clientes[i].cta_estatus=='A')this.ctastatus='ACTIVA';
            if (this.clientes[i].cta_estatus=='B')this.ctastatus='BLOQUEADA';
            if (this.clientes[i].cta_estatus=='I')this.ctastatus='BAJA';
            this.ctadivisa=this.clientes[i].cta_divisa;
            ddd.$.btblqcta.disabled=false;
        //      alert("asigno");
            i= this.clientes.length+1;
          }
          else {
            this.ctasel="";
            this.ctafechalta="";
            this.ctasaldo=gasPrice.format("0");
            this.ctastatus=' ';
            this.ctadivisa="";
            ddd.$.btblqcta.disabled=true;
          }
        }
      }
    }
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

function zfill(number, width) {
    var numberOutput = Math.abs(number); /* Valor absoluto del número */
    var length = number.toString().length; /* Largo del número */
    var zero = "0"; /* String de cero */

    if (width <= length) {
        if (number < 0) {
             return ("-" + numberOutput.toString());
        } else {
             return numberOutput.toString();
        }
    } else {
        if (number < 0) {
            return ("-" + (zero.repeat(width - length)) + numberOutput.toString());
        } else {
            return ((zero.repeat(width - length)) + numberOutput.toString());
        }
    }
}
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  function consultaCtasVU(){
  //+document.forms[0][1].value
  //console.log('consulta cuentas');
  //console.log(document);
  var miusuario=sessionStorage.getItem("user");
//  var miurl = "http://localhost:3000/cuentas/cliente/"+miusuario;
  var miurl = mihost+"cuentas/cliente/"+miusuario;

  var ddd= document.getElementById("mioVU0");

  ddd.$.btblqcta.disabled=true;

  //consulta por email
  //var miurl=miurlemail+document.forms.ventanaUsuario[1].value;
//  console.log(miurl);
  //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
  var request = new XMLHttpRequest();
  request.open("GET", miurl,false);
  //request.setRequestHeader("Accept", "application/json");
  request.send();
  if( request.status !=  200  )  {
        alert(  "Error  :"  + request.status +  "  -"  + request.statusText );
      //  console.log(  "Error  :"  + request.status +  "  -"  + request.statusText );
//            localStorage["errormio"]="Error  :"  + request.status +  "  -"  + request.statusText ;

  }else{
      miobjarray  = JSON.parse(request.responseText);
  /*    console.log("consulta");
      console.log (request.responseText);
      console.log (miobjarray);*/
  }

}
//*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


    window.customElements.define(VentanaUsuario.is, VentanaUsuario);
  </script>

</dom-module>
