<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">-

<!--
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
-->

<dom-module id="firma-usuario">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      text-align: left;
      }
      .misbotones{
        display: table-column-group;
      }
      .container{
        width: 100px;
        margin:50px;
        padding: 1px 200px;
      }
    </style>

    <div class="container">
      <div class="row">
         <form method="get"  id ="firmaUsuario"   >
            <fieldset>
                <legend>Firma de usuario</legend>
                <div class="field">
                  <label for ="email">Email Address:</label><br/>
                  <input type="email" id="e_mail" required="required" value="" autofocus
                        onInput="validaCamposfu()" autocomplete="off" />
                </div>
                <div class="field">
                  <label for ="alias">Alias:</label>  <br/>
                  <input type="text" id="mi_alias" required="required" value="" autofocus
                        onInput="validaCamposfu()" contentEditable="true"  autocomplete="off" />
                </div>
                <div class="field">
                  <label for ="password">Password:</label><br/>
                  <input type="password" id="mi_password" required="required"
                        value="" autofocus onInput="validaCamposfu()" />
                </div>
                <div>
                  <p>
                    <button id="firmabutton" on-click="firmaUsuario" class="btn btn-success" disabled="False">Aceptar</button>
                  </p>
                  <p>
                    <button id="nuevousuario" on-click="registroUsuario" class="btn btn-success" >Registro Nuevo</button>
                  </p>
                </div>
              </fieldset>
        </form>
      </div>
    </div>
  </template>
  <script>
    var mihost="http://localhost:2018/";
    /**
     * @customElement
     * @polymer
     */
    class FirmaUsuario extends Polymer.Element {
      static get is() { return 'firma-usuario'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }

        };

      }

      ready() {
        super.ready();
        this.addEventListener('click', () => {
//          console.log('yeahhh este evento se asocia al componente completo');
        })
      }

      registroUsuario(){
        this.dispatchEvent(new CustomEvent('registra-usuario', {
                           detail: {
                               valor: 'Soy el padre'
                           },
                           bubbles: true,
                           composed: true
      }));
    }
//+++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++
      obtenerClientes(){
        var request = new XMLHttpRequest();
//        console.log(document);
        //var miurl = "http://localhost:3000/clientes/";
        var miurl = mihost+"clientes/";

        request.open("GET", miurl,false);
        request.send();
        this.clientes = JSON.parse(request.responseText);
  //      console.log(this.clientes);
      }
//+++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++
      firmaUsuario(){
        var misminutos=0;
        var minumrandom=0;
        var mifecha1 = new Date();
        if (consultaUsuario(this)==false){
            alert("Usuario-Password incorrecto EC");
        }else{
          if (this.clientes.length == 0){
            alert("Usuario-Password incorrecto VC");
          }else{
            var mirandom="432fXHUTI"
            var mirandomS=sessionStorage.getItem(mirandom);
            if (this.clientes[0].cli_password==document.forms.firmaUsuario[3].value){
                misminutos=(mifecha1.getMinutes())+(mifecha1.getHours()*60)+(mifecha1.getDate()*1440)+
                            ((mifecha1.getMonth()+1)*43200) + ((mifecha1.getFullYear())*518400);
                if  (mirandomS ==null ){
                    if ((misminutos-this.clientes[0].cli_minutos)<=5) {
                      alert("El usuario ya se encuentra firmado");
                    }
                    else{ // se guarda el numero random y se permite la entrada y se actualiza el tiempo en el reg del usuario
                      var minumrandom=Math.random();
                      sessionStorage[mirandom]=minumrandom;
                      sessionStorage["user"]=this.clientes[0].cli_idcliente;
                      actualizaUsuario(this.clientes,misminutos,minumrandom);
                      this.dispatchEvent(new CustomEvent('usuario-entro', {
                                         detail: {
                                             valor: 'Soy el padre'
                                         },
                                         bubbles: true,
                                         composed: true
                      }));
  //                    console.log("despues evento1");
                    }
                }
                else {

                    if ((misminutos-this.clientes[0].cli_minutos)<=1) {
                      sessionStorage["user"]=this.clientes[0].cli_idcliente;
                      actualizaUsuario(this.clientes,misminutos,mirandomS);
                      this.dispatchEvent(new CustomEvent('usuario-entro', {
                                         detail: {
                                             valor: 'Soy el padre'
                                         },
                                         bubbles: true,
                                         composed: true
                      }));
                    }
                    else{
                      var minumrandom=Math.random();
                      sessionStorage[mirandom]=minumrandom;
                      sessionStorage["user"]=this.clientes[0].cli_idcliente;
                      actualizaUsuario(this.clientes,misminutos,minumrandom);
                      this.dispatchEvent(new CustomEvent('usuario-entro', {
                                         detail: {
                                             valor: 'Soy el padre'
                                         },
                                         bubbles: true,
                                         composed: true
                      }));
                    }
                }
            }
            else{
              alert("Usuario-Password incorrecto   PI");
            }
          }
        }
      } //fin funcion firma usuario
//+++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++
    }
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    function actualizaUsuario(objpoly,min, ran){
      var requestPUT = new XMLHttpRequest();
      //alert("entra actualiausuario");
      //var miurlalias = "http://localhost:3000/clientes/"+objpoly[0].cli_idcliente;
      var miurlalias = mihost+"clientes/"+objpoly[0].cli_idcliente;
      requestPUT.open("PUT", miurlalias,false);
      requestPUT.setRequestHeader('Content-type','application/json; charset=utf-8');

      var newcliente = {};
      var mifecha4 = new Date();
      newcliente.cli_email= objpoly[0].cli_email;
      newcliente.cli_idcliente=objpoly[0].cli_idcliente;
      newcliente.cli_nombre= objpoly[0].cli_nombre;
      newcliente.cli_apellido= objpoly[0].cli_apellido;
      newcliente.cli_password= objpoly[0].cli_password;
      newcliente.cli_fechaalta= objpoly[0].cli_fechaalta;
      newcliente.cli_estatus=objpoly[0].cli_estatus;
      newcliente.cli_perfil= objpoly[0].cli_perfil;
      newcliente.cli_minutos= min;
      newcliente.cli_random= ran;

      var body = JSON.stringify(newcliente);
      requestPUT.send(body);
      var resp =JSON.parse(requestPUT.responseText);
    }
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    function consultaUsuario(objpoly){
      var request = new XMLHttpRequest();
      //var miurlalias = "http://localhost:3000/clientes/";
      var miurlalias = mihost+"clientes/";
      //var miurlemail = "http://localhost:3000/clientes/email/";
      var miurlemail = mihost+"clientes/email/";
      if (document.forms.firmaUsuario[1].value.length>0){
        var miurl=miurlemail+document.forms.firmaUsuario[1].value;
      }
      else{//consulta por alias{
        var miurl=miurlalias+document.forms.firmaUsuario[2].value;
      }
      request.open("GET", miurl,false);
    //  console.log("antes send")
      request.send();
    //  console.log("despues send");
  //    console.log(request.status)
        if( request.status !=  200  )  {
              alert(  "Error  :"  + request.status +  "  -"  + request.statusText );
              localStorage["errormio"]="Error  :"  + request.status +  "  -"  + request.statusText ;
              return false;
          }else{
            objpoly.clientes = JSON.parse(request.responseText);
            return true;
          }
    }

// funcion que valida los campos para habilitar el boton de aceptar
    function validaCamposfu(){
      if (document.forms.firmaUsuario[1].value.length>0)  {
      document.forms.firmaUsuario[2].disabled=true;
      document.forms.firmaUsuario[1].disabled=false;
      }
      else document.forms.firmaUsuario[2].disabled=false;

      if (document.forms.firmaUsuario[2].value.length>0)  {
      document.forms.firmaUsuario[1].disabled=true;
      document.forms.firmaUsuario[2].disabled=false;
      }
      else document.forms.firmaUsuario[1].disabled=false;

      var habilita=false;
      if ((document.forms.firmaUsuario[1].value.length>0 ||
          document.forms.firmaUsuario[2].value.length>0)&&
          document.forms.firmaUsuario[3].value.length>0)
             habilita=true;
      if( habilita==true ){
        document.forms.firmaUsuario[4].disabled=false;
      }
      else {
        document.forms.firmaUsuario[4].disabled=true;
      }
    }



    window.customElements.define(FirmaUsuario.is, FirmaUsuario);
  </script>
</dom-module>
